.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse at bottom right, rgb(218, 193, 155) 50%, white);
    height: 1.25rem;
    width: 4rem;
    padding: 1rem;
    border-radius: 100%;
    /* border: .25px solid rgba(0, 0, 0, 0.185); */
    box-shadow: 14px 13px 20px -12px black;
}