.RecipeSmall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-bottom: double 15px ;
    padding: 20px 10px 20px;
    margin-bottom: 20px;
    max-width: 330px;
    height: 400px;
}
.resultTitleSmall {
    text-decoration: underline;
}
.resultImgContainerSmall {
    width: 320px;
    height: 239px;
    border: dashed 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultImgSmall {
    width: 312px;
    height: 231px;
    border-radius: 15px;
}