.LandingPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.fsIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 227, 198);
    height: 10rem;
    width: 20rem;
    padding: 2rem;
    border-radius: 100%;
    border: 3px solid black
}