.Register {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.welcome {
    position: absolute;
    top: 10px;
    width: 50%;
}
.registerForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 1rem 1rem 1.75rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}
.registerInputContainer {
    display: flex;
    flex-flow: column;
    margin: .5rem 0;
    width: 80%;
}
.registerLabel {
    font-weight: bold;
}
.registerInput {
    border-radius: 5px;
    border-color: darkred;
    padding: 2px 5px;
    text-align: center;
}
.passwordRequirement {
    margin: .2rem 0;
}